* {
    font-family: 'Kanit', sans-serif;
}
body{
    background-color: #272727;
}
:root {
    --bg-pink: #E81B5C;
    --bg-white: #FFF;
    --margin-top: 60px;
}

button:focus {
    box-shadow: 0;
}


.logo-text {
    font-size: 1.8rem;
    color: var(--bg-pink);
    font-weight: 600;
    font-size: 32px;
    
}
.logo-text:hover{
    color: var(--bg-white);
    transition: .2s;
    transform: scale(1.5);
}

.my-mt {
    margin-top: var(--margin-top);
}

.nav-item a {
    color: var(--bg-white);
    font-weight: 700;
    font-size: 18px;
}


.nav-link:hover{
    color: var(--bg-pink);
    transition: .2s;
    transform: scale(1.1);
}
.user{
    color: var(--bg-white);
}
.user:hover{
    color: var(--bg-pink);
}


.my-title {
    color: var(--bg-white);
    font-weight: 600;
    font-size: 32px;;
}
.eye{
    padding: 20px;
}
.saldo {
    font-weight:600;
    color: var(--bg-white);
}

.sobre {
    min-height: 75vh;
}
.navbar-toggler{
    color: var(--bg-white);
    border-color: var(--bg-white);
}

.icon {
    font-size: 60px;
    color: var(--bg-gray);
    margin: 24px 0;
    transition: .5s;
}

.card{
    background-color: var(--bg-pink);
    color: var(--bg-white);
    border-radius:40px;
}

.card >.icon:hover {
    transition: .2s;
    transform: scale(1.5);
}

.edit-icon{
    font-size: 25px;
}
.edit-icon:hover{
    transition: .2s;
    transform: scale(1.5);
}

.fonte{
    font-weight: 600;
}

.conteudo{
    border-bottom: 2px solid;
}



@media(max-width:959px) {
    #sobre{
        text-align: center;
    }
}